#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px groove rgb(61, 58, 58);
  height: 20vh;
  width: 30%;
  margin-left: 35%;
  background-color: rgba(177, 231, 213, 0.664);
}

#radioBtns {
display: grid;
grid-auto-flow: column;
}

#result{
  width: 50%;
  height: 25vw;
  border:2px groove black;
  background-color: rgba(221, 221, 221, 0.89);
  margin-left: 25%;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  justify-items: left;

}
#result p {
  margin-top: 2vh ;
  margin-left: 3vw;
  font-size: larger;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}